.blog-page-content
  color var(--textNormal)
  font-size $secondary-font
  font-family 'Noto Serif', serif

  code{
    background-color var(--code-bg)
    border-radius 3px
    padding .15em .2em .05em
    color black
  }

  li{
    line-height 27px
    margin-bottom 17px
  }

  a{
    text-decoration underline
    color var(--textLink)
    font-weight bold
  }

  blockquote{
    margin-left -1.75rem
    margin-right 1.75rem
    margin-top 0
    margin-bottom 1.75rem
    padding-bottom 0
    padding-left 1.42188rem
    padding-right 0
    padding-top 0
    color inherit
    font-style italic
    border-left 0.32813rem solid hsla(0,0%,0%,0.9)
    border-left-color var(--primary-color)
    opacity 0.8
  }