/* global.css */

body {
  --bg: white;
  --primary-color: #2ca2e9;
  --secondary-color: #5f6c80;
  --textNormal: #5f6c80;
  --code-bg:#a4ddff;
  --textLink: #2ca2e9;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --primary-color: pink;
  --secondary-color: white;
  --textNormal: rgba(255, 255, 255, 0.88);
  --code-bg:pink;
  --textLink:pink;
}