/* global.css */

body {
  --bg: white;
  --primary-color: #2ca2e9;
  --secondary-color: #040d21;
  --textNormal: #040d21;
  --code-bg: #a4ddff;
  --textLink: #2ca2e9;
  --text-gradient: -webkit-linear-gradient(-70deg, #3bf0e4, #bca1f7);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #171717;
  --primary-color: orange;
  --secondary-color: white;
  --textNormal: rgba(255, 255, 255, 0.88);
  --code-bg: orange;
  --textLink: orange;
  --text-gradient: -webkit-linear-gradient(-70deg, #ff7170, #ffe57f);
}
