@import './theme.styl';

.bio
  padding 40px 10px

  div:first-child
    font-size $primary-font
    font-weight bold

  p{
    display inline
  }

  .about
    font-size $secondary-font
    color $secondary-color