@import './theme.styl';

.bio
  padding 40px 10px

  div:first-child
    font-size $primary-font
    font-weight bold

  p{
    display inline
  }

  .about
    font-size $secondary-font
    color $secondary-color

.post-list-header
  padding 10px 0px 7px 10px
  font-size $primary-font
  color $primary-color
  border-bottom 2px #e1e1e1 solid
  font-weight bold
  margin-bottom 30px