@import './theme.styl';

body
  background-color var(--bg)
  animation fadein 2s
  font-family 'Noto Serif', serif

.layout-container
  width 60%
  margin auto

  a{
    text-decoration none
  }

.header
  padding-left 10px
  padding-top 15px
  border-bottom 2px #e1e1e1 solid
  position relative

  div:first-child
    font-size $primary-font
    font-weight bold

  .social-links
    padding-top 35px
    padding-bottom 7px
    color var(--secondary-color)

    span
     padding-right 13px
  
  .theme-toggle
    position absolute
    top 25px
    right 10px

.highlight-text
  color var(--primary-color)

.underline-highlight
  position relative

  &:after
    position absolute
    content ''
    width 2em
    border-bottom 4px solid var(--primary-color) 
    bottom 0
    left 0
    transform skew(-30deg, 0deg)

@media (max-width : 500px)
  .layout-container 
    width 100%