@import './theme.styl';

body
  font-family 'Noto Serif', serif
  background-color $primary-background
  animation fadein 2s

.layout-container
  width 50%
  margin auto

  a{
    text-decoration none
  }

.header
  padding-left 10px
  padding-top 15px
  border-bottom 2px #e1e1e1 solid

  div:first-child
    font-size $primary-font
    font-weight bold

  .social-links
    padding-top 35px
    padding-bottom 7px

    span
     padding-right 13px

.highlight-text
  color $primary-color

@media (max-width : 500px)
  .layout-container 
    width 100%