@import './theme.styl';

body
  background-color var(--bg)
  animation fadein 2s
  font-family 'Noto Serif', serif

.layout-container
  width 60%
  margin auto

  a{
    text-decoration none
  }

.header
  padding-left 10px
  padding-top 15px
  border-bottom 2px #e1e1e1 solid
  position relative

  div:first-child
    font-size $primary-font
    font-weight bold
  
  .blog-section
    position absolute
    font-size $secondary-font
    font-weight bold
    top 90px
    right 5px
    cursor pointer

  .social-links
    padding-top 35px
    padding-bottom 7px
    color var(--secondary-color)

    span
     padding-right 13px
  
  .theme-toggle
    position absolute
    top 25px
    right 10px
    cursor pointer

.highlight-text
  color var(--primary-color)
  position relative

  p
    display inline
    background var(--text-gradient)
    -webkit-background-clip text
    -webkit-text-fill-color transparent

@media (max-width : 500px)
  .layout-container 
    width 100%