@import './theme.styl';

.overview
  padding 10px 0px 10px 10px

  .title
    // color $primary-color
    font-size $secondary-font
    font-weight bold
  
  .date, .description
    // color $secondary-color
  
  .project-url
    font-size 13px
    // color $secondary-color
