@import './theme.styl';

.overview
  padding 10px 0px 10px 10px

  .title
    color var(--primary-color)
    font-size $secondary-font
    font-weight bold
  
  .date, .description
    color var(--secondary-color)
  
  .project-url
    font-size 13px
    color var(--secondary-color)
