.profile-container
  display flex
  flex-direction row

  .profile-image
    display flex
    flex .3
    justify-content center
    align-items center

    .image 
      width 55%
      height 70%
      border-radius 50%
      filter drop-shadow(1px 5px 6px var(--primary-color))
      border 3px solid white
  
  .social-profiles
    background-color yellow
    display flex
    flex .7
    justify-content center
    align-items center