@import './theme.styl'

.skills
  color var(--primary-color)
  padding 10px 0px 10px 10px
  display flex
  flex-direction column

  div:nth-child(2n){
    margin-top 20px
    width 100%
    overflow scroll
  }

  .skill-item{
    border-radius 3px
    padding .15em .2em .05em
    color var(--textNormal)
    margin-right 20px
    text-decoration underline
    text-decoration-color var(--textLink)
    font-size $secondary-font
    display inline-block
  }

  select{
    padding 10px 10px 10px 0px
    font-size $secondary-font
    color var(--secondary-color)
    border-top 0px 
    border-right 0px 
    border-bottom 1px solid #e1e1e1
    border-left 0px
    background-color var(--bg)
  }